
{% extends 'base.html' %}

{% block content %}

{% load static %} 
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'partials/_sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'partials/_headernav.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Vouchers</h1>
                    <button id="sync_vouchers">Sync Vouchers</button>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"></h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Display</th>
                                            <th>Name</th>
                                            <th>Date</th>
                                            <th>Division</th>
                                            <th>State</th>
                                            <th>Paid Amount</th>
                                            <th>Due Amount</th>
                                            <th>Total</th>
                                            <th>Actions</th>
                                            <th>Sync Status</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Display</th>
                                            <th>Name</th>
                                            <th>Date</th>
                                            <th>Division</th>
                                            <th>State</th>
                                            <th>Paid Amount</th>
                                            <th>Due Amount</th>
                                            <th>Total</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for voucher in vouchers_list %}
                                        <tr>
                                            <td>{{voucher.display_name}}</td>
                                            <td>{{voucher.student_name}}</td>
                                            <td>{{voucher.voucher_date}}</td>
                                            <td>{{voucher.division_name}}</td>
                                            <td>{{voucher.voucher_status}}</td>
                                            <td>{{voucher.received_amount}}</td>
                                            <td>{{voucher.due_amount}}</td>
                                            <td>{{voucher.total}}</td>  
                                            <td>
                                                {% if voucher.received_amount %}
                                               
                                                {% else %}
                                                <button data-voucherid="{{voucher.voucher_id}}" type="button" class="btn btn-primary receive_payment">
                                                    Receive Amount
                                                </button>
                                                {% endif %}

                                            </td>    
                                            <td>{{voucher.offline_status}}</td>                                    
                                        </tr>
                                        {% endfor %}
                                       
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

  
    {% include 'partials/_voucher_recerive.html' %}
    <!-- <script src="js/demo/datatables-demo.js"></script> -->
      <!-- Page level plugins -->
      <!-- <script src="vendor/datatables/jquery.dataTables.min.js"></script>
      <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
   -->
      <!-- Page level custom scripts -->
      <!-- <script src="js/demo/datatables-demo.js"></script> -->
      <script>

                window.addEventListener('load', function () {
                    $('.receive_payment').on('click', function(){
                        let voucherid = $(this).attr('data-voucherid');
                        $('#voucherid').val(voucherid);
                        console.log(voucherid);
                        $('#receive_amount').modal('show');
                    });
                    $('#sync_vouchers').on('click', function(){

                        ajaxRequest= $.ajax({
                                    url: "sync_vouchers",
                                    headers: {'X-CSRFToken': csrftoken},
                                    type: "get",
                                });

                                ajaxRequest.done(function (response, textStatus, jqXHR){
                               
                               Swal.fire( '', '',  'success'  )
                               
                               setTimeout(function() {location.reload()}, 2000)
                           });

                           ajaxRequest.fail(function (){
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Something went wrong!',
                                    footer: '<a href="">Why do I have this issue?</a>'
                                    })
                                    setTimeout(function() {location.reload()}, 2000)
                            });
                    })

                  
               
                });
                function submit_payment_form(){
                    
                            let received_amount = $( "input[name=received_amount]" ).val();
                            let voucher_id = $( "input[name=voucher_id]" ).val();
                            console.log(received_amount, voucher_id);
                            ajaxRequest= $.ajax({
                                    url: "postvoucher",
                                    headers: {'X-CSRFToken': csrftoken},
                                    type: "post",
                                    data: {voucher_id, received_amount}
                                });

                            /*  Request can be aborted by ajaxRequest.abort() */

                            ajaxRequest.done(function (response, textStatus, jqXHR){
                               
                                Swal.fire( 'Payment Receiced', '',  'success'  )
                                
                                setTimeout(function() {location.reload()}, 2000)
                            });

                            /* On failure of request this function will be called  */
                            ajaxRequest.fail(function (){
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Something went wrong!',
                                    footer: '<a href="">Why do I have this issue?</a>'
                                    })
                                    setTimeout(function() {location.reload()}, 2000)
                            });
                    }
             
      </script>
       

    {% endblock %}
   