    <div class="modal fade" id="receive_amount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"   aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="paymentform">
                    <form method="post" ></form>

                    <div class="form-group">
                        <input name="voucher_id" id="voucherid" >

                        <label for="exampleInputEmail1">Amount</label>
                        <input name="received_amount" type="number" class="form-control"  placeholder="Receiving Amount">
                    </div>

                    <div class="modal-footer">
                        <button onclick="submit_payment_form()" class="btn btn-primary">Submit</button>
                        <button class="btn btn-secondary" onclick="submit_payment_form()" >Submit and Print slip</button>

                    </div>
                    </form>

                </div>
            </div>
        </div>
    </div>